</div>
<!-- <div class="footer text-center">
	Made with
	&nbsp;
	<figure class="img-wrapper icon">
		<img src="/assets/icon/like.svg" alt="love">
	</figure>
	&nbsp;
	in Malang, 2018
</div> -->
<script src="/js/main.js"></script>
<script>
	$(function () {

		// Star rating
		$('.rating label').click(function () {
			$(".rating span").removeClass('checked');
			$(this).parent().addClass('checked');

			var productId = $('#ratingProductId').text();
			var rate = $('#ratingForm').find('span[class="checked"]').index();
			var fixedRate = 0;

			switch (rate) {
				case 0:
					fixedRate = 5;
					break;
				case 1:
					fixedRate = 4;
					break;
				case 2:
					fixedRate = 3;
					break;
				case 3:
					fixedRate = 2;
					break;
				case 4:
					fixedRate = 1;
					break;
				default:
					fixedRate = 0;
					break;
			}

			$.post("/product/rate",
				{
					id: productId,
					rate: fixedRate
				},
				function (data, status) {
					var newRate = data.newRate;
					$(".rating span").removeClass('checked');

					switch (newRate) {
						case "1":
							$("#star1").addClass('checked');
							break;
						case "2":
							$("#star2").addClass('checked');
							break;
						case "3":
							$("#star3").addClass('checked');
							break;
						case "4":
							$("#star4").addClass('checked');
							break;
						case "5":
							$("#star5").addClass('checked');
							break;
						default:
							break;
					}

					if (status == "success") {
						alert("thanks for your feedback");
					}
				});
		});
	});
</script>
</body>

</html>