<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>E-Commerce</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- preload -->
	<link rel="preload" as="style" href="/css/bootstrap.min.css" />

	<link rel="preload" as="style" type="text/css" href="/css/main.css" />
	<link rel="preload" as="script" type="text/css" href="/js/jquery.min.js" />
	<!-- preload -->

	<link rel="prefetch" type="text/css" href="/css/main.css" />

	<link rel="stylesheet" as="style" href="/css/all.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="icon shortcut" href="/assets/favicon.png" />

	<script src="/js/jquery.min.js" type="text/javascript"></script>

	<style>
		.rating {
			width: 300px;
		}

		.rating span {
			float: right;
			position: relative;
		}

		.rating span input {
			opacity: 0;
		}

		.rating span label {
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			color: #ccc;
			font-size: 30px;
			margin-right: 2px;
			line-height: 30px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
		}

		.rating span:hover~span label,
		.rating span:hover label,
		.rating span.checked label,
		.rating span.checked~span label {
			color: #F90;
		}

		.checked {
			color: orange;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">
				<h1 class="blog-title">E<span>Commerce</span></h1>
			</a>

			<div class="spacer"></div>
			<div class="link-wrapper">
				<ul class="link">
					<li id="home"><a href="/">Home</a></li>
					<% if(isLoggedIn) { %>
					<li id="transaction"><a href="/transaction">Transaction</a></li>
					<li id="products"><a href="/products">My Products</a></li>
					<li id="profile"><a href="/profile">Profile</a></li>
					<li class="btn-link">
						<a href="/logout" class="ml-3 btn btn-warning">Logout</a>
					</li>
					<% }else { %>
					<li class="btn-link">
						<a href="/login" style="color:white" class="ml-3 btn btn-primary">Login</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>

		<div class="col-sm-4 col-md-4 pull-right">
			<div class="navbar-form" role="search">
				<div class="input-group">
					<div class="input-group-prepend">
						<select id="searchCategory" name="category"
							style="width: 120px; background-color: white; border: 1px solid #DDDDDD; border-top-left-radius: 5px; border-bottom-left-radius: 5px; padding: 5px;">
							<%- include ./categories %>
						</select>
					</div>
					<input type="text" class="form-control" style="height: 36px; border: 1px solid #DDDDDD;"
						placeholder="Search" name="query" id="searchQuery">
					<div class="input-group-btn">
						<a class="redirect btn btn-default" href="http://192.168.23.141:8000/product/search"
							style="padding: 6px 12px; border-top-left-radius: 0; border-bottom-left-radius: 0;"
							type="submit"><i class="fas fa-search"></i></a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="v-spacer" style="margin-top: 0px;">
		<script>
			var url = location.href;
			var activated = false;
			
			$('a.redirect').click(function (event) {
				event.preventDefault();
				var href = $(this).attr('href');
				var category = $("#searchCategory :selected").val();
				var query = $('#searchQuery').val();
				var newHref = href + "?category=" + category + "&query=" + query;
				console.log("query: " + query);
				console.log("category: " + category);
				console.log("newHref: " + newHref);
				window.location = newHref;
			});

			$('.link')
				.children('li')
				.each(function (index, val) {
					var text = $(val).attr('id')
						? $(val)
							.attr('id')
							.toLowerCase()
						: null
					if (url.indexOf(text) > 0) {
						$(val).addClass('active')
						activated = true
					}
				})
			if (location.href === 'http://localhost:8000/')
				$('#home').addClass('active');

			console.log(location.href);

			
		</script>
