<div aria-label="Page navigation uin galeri" class="pagination mt-5">
	<ul class="pagination justify-content-center" <%= totalCount>12 || 'style=display:none' %> <% if(page>1) { %> <li
		class="page-item <%= page!==1 %>">
		<a class="page-link" href="?page=1" tabindex="-1">
			<<</a> </li> <li class="page-item">
				<a class="page-link" href="?page=<%= page-1 %>">
					<%= page-1 %>
				</a>
				</li>
				<% } %>
				<li class="page-item active">
					<a class="page-link " href="#">
						<%= page %>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page=<%= page+1 %>">
						<%= page+1 %>
					</a>
				</li>
				<li class="page-item" <%= Math.ceil(totalCount/12)>page || 'style=display:none' %> <a class="page-link"
					href="?page=<%= Math.ceil(totalCount/10) %>">
					>>
		</a>
		</li>
	</ul>
</div>
