<option <% if (category == "Footwear") { %> selected <% } %> value="Footwear">Footwear</option>
<option <% if (category == "Beauty and Personal Care") { %> selected <% } %> value="Beauty and Personal Care">Beauty and Personal Care</option>
<option <% if (category == "Mens Clothing") { %> selected <% } %> value="Mens Clothing">Mens Clothing</option>
<option <% if (category == "Watches") { %> selected <% } %> value="Watches">Watches</option>
<option <% if (category == "Home Decor & Festive Needs") { %> selected <% } %> value="Home Decor & Festive Needs">Home Decor & Festive Needs</option>
<option <% if (category == "Womens Clothing") { %> selected <% } %> value="Womens Clothing">Womens Clothing</option>
<option <% if (category == "Kids Clothing") { %> selected <% } %> value="Kids Clothing">Kids Clothing</option>
<option <% if (category == "Jewellery") { %> selected <% } %> value="Jewellery">Jewellery</option>
<option <% if (category == "Pens & Stationery") { %> selected <% } %> value="Pens & Stationery">Pens & Stationery</option>
<option <% if (category == "Automotive") { %> selected <% } %> value="Automotive">Automotive</option>
<option <% if (category == "Home Furnishing") { %> selected <% } %> value="Home Furnishing">Home Furnishing</option>
<option <% if (category == "Computers") { %> selected <% } %> value="Computers">Computers</option>
<option <% if (category == "Cameras & Accessories") { %> selected <% } %> value="Cameras & Accessories">Cameras & Accessories</option>
<option <% if (category == "Sports & Fitness") { %> selected <% } %> value="Sports & Fitness">Sports & Fitness</option>
<option <% if (category == "Kitchen & Dining") { %> selected <% } %> value="Kitchen & Dining">Kitchen & Dining</option>
<option <% if (category == "Toys & School Supplies") { %> selected <% } %> value="Toys & School Supplies">Toys & School Supplies</option>
<option <% if (category == "Mobiles & Accessories") { %> selected <% } %> value="Mobiles & Accessories">Mobiles & Accessories</option>
<option <% if (category == "Health & Personal Care Appliances") { %> selected <% } %> value="Health & Personal Care Appliances">Health & Personal Care Appliances</option>
<option <% if (category == "Tools & Hardware") { %> selected <% } %> value="Tools & Hardware">Tools & Hardware</option>
<option <% if (category == "Bags, Wallets & Belts") { %> selected <% } %> value="Bags, Wallets & Belts">Bags, Wallets & Belts</option>
<option <% if (category == "Baby Care") { %> selected <% } %> value="Baby Care">Baby Care</option>