<% if (numPages > 0) { %>
    <ul class="pagination text-center">
        <% if (page == 1) { %>
            <li class="disabled"><a>Previous</a></li>
        <% } else { %>
            <li><a href="/product/search?query=<%= query %>&category=<%= category %>&page=<%= page-1 %>">Previous</a></li>
        <% } %>
        <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(page) + 4) && i <= numPages; i++) { %>
            <% if (i == page) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/product/search?query=<%= query %>&category=<%= category %>&page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(page) + 4 && i < numPages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (page == numPages) { %>
            <li class="disabled"><a>Next</a></li>
        <% } else { %>
            <li><a href="/product/search?query=<%= query %>&category=<%= category %>&page=<%= page+1 %>">Next</a></li>
        <% } %>
    </ul>
<% } %>