<div class="sidebar">
	<section class="popular">
		<p class="title">Recommended</p>
		<hr>
		<ul style="height: 720px; overflow-y: scroll; overflow-x:hidden;"><% popular.forEach(single => { %>
			<li>
				<a href="/product/<%= single.id %>" class="flex-wrap">
					<img class="sidenav-img" src="<%= single.photoUrl %>" alt="<%= single.nama %>">
					<div class="right flex-wrap">
						<p class="title sub-title"><%= single.nama %></p>
						<p class="penulis"><%= single.harga %> LE</p>
					</div>
				</a>
			</li>
			<% }); %>
		</ul>
	</section>
</div>
