<section class="alert row">
  <p>UIN Gallery is a place where the best creations of UIN Maliki students are collected. Send your work immediately!</p>
  <a href="upload" class="btn btn-default">Upload Creation</a>
</section>