<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
    <div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
            
            <div class="offset-3 md9 sm9 xs12">
                <div class="container-fluid">
                    <div class="header mt-4">
                        <form action="/product/create" method="POST" class="own-wrapper" enctype="multipart/form-data">
                            <label class="picker flex-wrap justify-center" for="profile-pics">
                                <img src="/assets/default-photo.png" class="profile-pics" />
                            </label>
                            <input type="file" id="profile-pics" name="photoUrl" accept="image/*" class="hidden" />
                            
                            <label class="mt-3" for="nama">Product Name</label>
                            <input placeholder="Name" class="form-control" type="text" name="nama" required />

                            <label class="mt-3" for="harga">Product Price</label>
                            <input placeholder="Price" class="form-control" type="number" min="1" name="harga" required />

                            <label class="mt-3" for="stock">Product Stock</label>
                            <input placeholder="Stock" class="form-control" type="number" min="1" name="stock" required />

                            <label class="mt-3" for="category">Product Category</label>
                            <select id="searchCategory" name="category" class="form-control" required>
                                <%- include ./partials/product-categories %>
                            </select>

                            <button class="btn btn-warning mr-3 block mt-3" type="submit">
                                Add Product
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#profile-pics').change(function (e) {
        const img = URL.createObjectURL(e.target.files[0]);
        $('.profile-pics').attr('src', img);
    });
</script>

<%- include ./partials/footer %>
