<%- include ./partials/new-header %>
<section class="main pt-3" style="margin-top: 80px;">
	<div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>

			<div class="offset-3 md9 sm10 xs12">
				<div class="container-fluid">
					<div class="row">
						<div class="md12 sm12 xs12">
							<p class="penulis jangka mb-3"><span>Latest Products</span></p>
							<div class="row">
								<% product.forEach(row => { %>
								<div class="md4 sm6 xs6">
									<div class="card">
										<figure class="img-wrapper content">
											<img class="img-content" src="<%= row['photoUrl'] %>" alt="<%= row['nama'] %>" />
										</figure>
										<p class="title text-capitalized"><a href="/product/<%= row.id %>">
												<%= row['nama'] %></a></p>
										<small class="date"> <%= row.seller.nama %> </small>
										<div class="flex-wrap align-center action-buyer">
											<p class="penulis text-danger harga"><%= row.harga %> LE</p>
											<div class="spacer"></div>
											<% if(userId !== row.userId){ %>
											<form action="/transaction/create" method="POST" class="buy-wrapper flex-wrap">
												<input type="hidden" value="<%= row['id'] %>" name="id">
												<input type="hidden" value="<%= row.harga %>" name="total">
												<input type="number" min="1" max="<%= row['stock'] %>" value="1" name="item"
													class="inputItem">
												<button class="btnBuy">Buy</button>
											</form>
											<% } %>
										</div>
									</div>
								</div>
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-5"><%- include ./partials/new-pagination %></div>
	</div>
</section>

<script>
	$('.inputItem').change(function () {
		var item = Number($(this).val());
		var harga = $(this).closest('.action-buyer').find('.harga').text().trim().replace(/\D/g, '');
		console.log(item, harga);
		$(this).siblings('input[name="total"]').val(item * harga);
	});

	if (location.href.includes('error')) {
		alert(decodeURI(location.href.replace(/^.+error=/gm, '')));
	}
</script>
<%- include ./partials/footer %>
