<%- include ./partials/new-header %>
<div class="login" style="margin-top: 100px;">
    <form action="/login" method="POST">
        <% if(!!notLogin) { %>
        <p class="title text-danger text-center">You must login first.</p>
        <% } %>
        <p class="title text-center login-title">Login</p>
        <input placeholder="Email" class="form-control" type="email" name="email" required>
        <input placeholder="Password" class="form-control" type="password" name="password" required>
        <% if(notFound){%>
        <p class="text-center text-danger mt-3">Username / Password not found</p>
        <% }%>
        <p class="text-center text-mute mt-3">Don't have an account? <a href="/register">Signup</a>.</p>
        <button class="btn btn-primary block mt-3" type="submit">Login<button></button>
    </form>
</div>
<%- include ./partials/footer %>
