<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
    <div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
            
            <div class="offset-3 md9 sm10 xs12">
                <div class="container-fluid">
                    <div class="header mt-4">
                        <div class="text-center">
                            <img src="<%= photoUrl %>" class="product-img-detail" alt="<%= nama %>">
                        </div>

                        <form action="/product/<%= id %>/edit" method="POST" class="own-wrapper">
                            <label class="mt-3" for="nama">Product Name</label>
                            <input type="text" class="form-control" value="<%= nama %>" placeholder="Name" name="nama">

                            <label class="mt-3" for="price">Product Price</label>
                            <input class="form-control" type="number" min="1" value="<%= harga %>" name="harga">

                            <label class="mt-3" for="stock">Product Stock</label>
                            <input type="number" min="1" value="<%= stock %>" name="stock" class="form-control">

                            <label class="mt-3" for="">Product Category</label>
                            <select id="searchCategory" name="category" class="form-control">
                                <%- include ./partials/product-edit-categories %>
                            </select>
                            
                            <input type="hidden" value="<%= id %>" name="id">
                            <div class="flex-wrap mt-4 btn-wrapper">
                                <button class="btn btn-warning mr-3" type="submit">Edit</button>
                                <a href="/product/<%= id %>/delete" class="btn btn-danger ml-3">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ./partials/footer %>
