<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
	<div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
			
			<div class="offset-3 md9 sm10 xs12">
				<div class="container-fluid">
					<p class="penulis jangka mb-3 flex-wrap">
						<span>My Products</span>
						<a href="/product/create" class="btnCreateProduct mr-3 btn btn-primary">Add Product</a>
					</p>
					<div class="row">
						<% rows.forEach(row => { %>
						<div class="md4 sm6 xs6">
							<div class="card">
								<figure class="img-wrapper content">
									<img name="photo" class="img-content" src="<%= row['photoUrl'] %>" alt="<%= row['nama'] %>">
								</figure>
								<div class="flex-wrap align-center">
									<a href="/product/<%= row.id %>">
										<p class="title text-capitalized">
											<%= row['nama'] %>
										</p>
									</a>
									<div class="spacer"></div>
									<a href="/product/<%= row.id %>" class="btn-warning btn">Details</a>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include ./partials/footer %>
