<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
    <div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
            
            <div class="offset-3 md9 sm10 xs12">
                <div class="container-fluid profile">
                    <form action="/profile" method="POST" enctype="multipart/form-data">
                        <label class="picker flex-wrap justify-center" for="profile-pics">
                            <img src="<%= photoUrl %>" class="profile-pics" />
                        </label>
                        <input type="file" id="profile-pics" name="photo" accept="image/*" class="hidden" />

                        <label for="nama">Name</label>
                        <input type="text" id="nama" name="nama" value="<%= nama %>" class="form-control" required />

                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" value="<%= email %>" class="form-control" required />

                        <label for="balance">Balance</label>
                        <input type="text" id="balance" name="balance" value="<%= balance %>" class="form-control" disabled required  />

                        
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required />

                        <label for="age">Age</label>
                        <input placeholder="Age" class="form-control" type="number" name="age" value="<%= age %>" required>
                        <%- include ./partials/countries %>

                        <div class="form-group">
                            <label style="float: left;">Gender</label>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" <% if (gender == "male") { %> checked <% } %> required>
                                <label class="form-check-label" for="male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check" style="margin-left: 35px;">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female" <% if (gender == "female") { %> checked <% } %>>
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>
                            <br>
                        </div>

                        <button class="form-control btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $('#profile-pics').change(function(e) {
        const img = URL.createObjectURL(e.target.files[0])
        $('.profile-pics').attr('src', img)
        })

        var country = "<%= country %>";
        $("#selectCountry option:contains(" + country + ")").attr('selected', 'selected');
    })
</script>
<%- include ./partials/footer %>
