<%- include ./partials/new-header %>
<div class="login" style="margin-top: 100px;">
<form action="/register" method="POST">
    <p class="title text-center login-title">Signup</p>
    <input placeholder="Name" class="form-control" type="text" name="nama" required>
    <input placeholder="Email" class="form-control" type="text" name="email" required>
    <input placeholder="Password" class="form-control" type="password" name="password" required>
    <input placeholder="Age" class="form-control" type="number" name="age" required>
    <%- include ./partials/countries %>
    <div class="form-group">
        <label style="float: left;">Gender</label>
        <br>
        <div class="form-check" style="float: left;">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked required>
            <label class="form-check-label" for="male">
                Male
            </label>
        </div>
        <br>
        <div class="form-check" style="float: left; margin-left: 53px;">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
            <label class="form-check-label" for="female">
                Female
            </label>
        </div>
        <br>
    </div>
<% if(haveBeenUsed){%>
    <p class="text-center text-danger mt-3">Email already exists!</p>
<% }%>
    <p class="text-center text-mute mt-3">Already have an email? <a href="/login">Login</a>.</p>
    <input class="btn btn-warning form-control mt-3" type="submit" value="Signup">
</form>
</div>
<%- include ./partials/footer %>