<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
	<div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
			
			<div class="offset-3 md9 sm10 xs12">
				<div class="container-fluid">
					<ul class="nav nav-tabs">
						<li class="text-bold pr-3 flex-wrap align-center">Buyer:</li>
						<% [{ name: 'Orders', link: '/transaction/done' }].forEach(el => { %>
						<li class="nav-item">
							<a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>"
								href="<%= el.link %>"><%= el.name %></a>
						</li>
						<% }) %>
						<div class="spacer"></div>
						<li class="text-bold pr-3 flex-wrap align-center">Seller:</li>
						<% [{ name: 'Ordered', link: '/transaction/processed' }].forEach(el => { %>
						<li class="nav-item">
							<a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>" href="<%= el.link %>">
								<%= el.name %></a>
						</li>
						<% }) %>
					</ul>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Invoice</th>
								<th scope="col">Product</th>
								<th scope="col">Total</th>
								<th scope="col">Paid for</th>
								<th scope="col">Date of Purchase</th>
								<th scope="col">Date Paid</th>
								<th scope="col">Information</th>
							</tr>
						</thead>
						<tbody>
							<% data.forEach((el, idx) => { %>
							<tr>
								<th scope="row"><%= idx+1 %></th>
								<td><%= el.invoice+(el.id<10?'0'+el.id:el.id) %></td>
								<td><%= el.nama %></td>
								<td><%= el.total %> LE</td>
								<td><%= el.paid %> LE</td>
								<td><%= el.createdAt %></td>
								<td><%= el.lunas?el.createdAt:el.updatedAt === el.createdAt?'-':el.createdAt %></td>
								<td><%= el.rejected?'SELLER BY REJECTED':el.lunas?'PAID OFF':'NOT PAID OFF' %></td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let home = true;

	$('.link-item').each((idx, el) => {
		const href = window.location.href;
		if (href.includes($(el).attr('data-link'))) {
			home = false;
			return $(el).addClass('active');
		}
	});

	if (home)
		$('#Orders').addClass('active');
</script>

<%- include ./partials/footer %>
