<%- include ./partials/new-header %>
<section class="post-baru" style="margin-top: 100px;">
	<div class="container">
		<p class="title mt-5">Tambah Post Baru</p>
		<div>
			<p class="label-create">Thumbnail</p>
			<label for="thumbnail" class="label-thumb" title="Tambah thumbnail">
			</label>
			<input type="file" class="hidden" name="input_foto" id="thumbnail">
		</div>

		<div class="mt-3">
			<p class="label-create">Judul</p>
			<input class="form-control special" type="text" name="judul" placeholder="Judul">
		</div>

		<p class="label-create mt-3">Deskripsi</p>

		<textarea id="tiny-mce" name="konten" class="mt-3" placeholder="Konten"></textarea>
		
		<div class="text-right">
			<button type="submit" class="btn mt-3">Kirim</button>
		</div>
	</div>
</section>

<script src="/js/tinymce/tinymce.min.js"></script>

<script>
	$('#thumbnail').change(function (e) {
		console.log('triggerred', e.target.files[0])
		var check = $('#gambar-thumbnail').length < 1;
		if (check) {
			var img = document.createElement('img');
			img.id = 'gambar-thumbnail';
			$('.label-thumb').append(img);
		}
		$('#gambar-thumbnail').attr('src', URL.createObjectURL(e.target.files[0]));
	});

	tinymce.init({
		selector: '#tiny-mce',
		height: 200,
		menubar: false,
		plugins: [
			'advlist autolink lists link image charmap print preview anchor textcolor',
			'searchreplace visualblocks code fullscreen',
			'insertdatetime media table contextmenu paste code help wordcount'
		],
		toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
	});
</script>

<%- include ./partials/footer %>
